 .positive_rotate {
     transform: rotate(10deg);
 }

 .negative_rotate {
     transform: rotate(-10deg);
 }

 .shift_right {
     margin-right: 30px;
 }

 .fifth_container {
     padding-top: 50px;
     padding-bottom: 120px;
     padding-left: 80px;
     padding-right: 80px;
 }

 .fifth-images-container {
     display: flex;
     height: 250px;
 }

 .fifth_images_item_container {
     display: flex;
     flex: 1;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
 }

 .fifth-card-image-container {
     width: 90%;
     height: 80%;
     border-radius: 10px;
 }

 .card-item-subtitle {
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: 800;
     font-family: "Heebo";
     font-size: 20px;
 }

 @media only screen and (max-width: 768px) {
     .fifth_container {
         padding-bottom: 50px;
         padding-left: 20px;
         padding-right: 20px;
     }

     .fifth-container-title-text {
         font-size: 25px;
     }

     .fifth-images-container {
         height: 100px;
     }

     .card-item-subtitle {
         font-size: 8px;
     }
 }