.fourth_container {
    padding-top: 50px;
    padding-bottom: 120px;
    padding-left: 80px;
    padding-right: 80px;
}

.features_container {
    height: 120px;
    margin-top: 50px;
    box-shadow: 5px 5px 0;
    border: 3px solid;
    border-radius: 20px;
    padding-left: 20px;
}

.feature-title-container {
    flex: 2;
    align-items: center;
    font-size: 40px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-icon-container {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    box-shadow: 5px 5px 0;
}

.full_rounded {
    border-radius: 50%;
}

.features_description {
    flex: 5;
    padding-left: 80px;
    align-items: center;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
    .fourth_container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .features_container {
        height: max-content;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .feature-title-container {
        font-size: 12px;
    }

    .feature-icon-container {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        margin-right: 20px;
    }

    .features_description {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 10px
    }
}