.sixth-container {
    padding-top: 50px;
    padding-bottom: 120px;
    padding-left: 80px;
    padding-right: 80px;
}

/* Communtiy Container */

.sixth-container-community-container {
    padding: 50px;
    box-shadow: 5px 5px 0;
    border: 3px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sixth-description {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.sixth-container-title-text {
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 50px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .sixth-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .sixth-container-title-text {
        font-size: 25px;
    }
}