.black_background_color {
    background-color: black;
}

.red_background_color {
    background-color: #e84e58;
}

.white_background_color {
    background-color: white;
}

.bright_mint_background_color {
    background-color: #00c79a;
}

.yellow_background_color {
    background-color: #ffe926;
}

.pink_background_color {
    background-color: #f3cae7;
}

.light_blue_background_color {
    background-color: #70acfe;
}

.light_yellow_background_color {
    background-color: #f5e66b;
}

.dark_green_background_color {
    background-color: #00c79a;
}

.light_green_background_color {
    background-color: #9fffb3;
}

.lighter_blue_background_color {
    background-color: #9cb6fe;
}

.dark_blue_background_color {
    background-color: #0e6890;
}

.white_text_shade_background_color {
    background-color: #f0f4f3;
}

.light_turquoise_background_color {
    background-color: #99e2fe;
}

.gold_background_color {
    background-color: #fca300;
}

.dark_pink_background_color {
    background-color: #ff90cc;
}

.light_grey_background_color {
    background-color: #dfe0dd;
}

.aqua_background_color {
    background-color: #2bf3ff;
}

.bright_green_background_color {
    background-color: #39e27c;
}

.gradient_theme_background_color {
    background-image: linear-gradient(to bottom, #9becf8, #fbffff);
}

.gold_pink_gradient_background_color {
    background-image: linear-gradient(to bottom, #ffe179, #ffbeb4);
}

.blue_aqua_gradient_background_color {
    background-image: linear-gradient(to bottom, #93a8f2, #a4feff);
}