.black_background_color {
    background-color: black;
}

.red_background_color {
    background-color: red;
}

.white_background_color {
    background-color: white;
}

.bright_mint_background_color {
    background-color: #00c79a;
}

.yellow_background_color {
    background-color: #ffe926;
}

.pink_background_color {
    background-color: #f3cae7;
}

.light_blue_background_color {
    background-color: #70acfe;
}

.light_yellow_background_color {
    background-color: #f5e66b;
}

.dark_green_background_color {
    background-color: #00c79a;
}

.light_green_background_color {
    background-color: #9fffb3;
}

.lighter_blue_background_color {
    background-color: #9cb6fe;
}

.dark_blue_background_color {
    background-color: #0e6890;
}

.white_text_shade_background_color {
    background-color: #f0f4f3;
}

.light_turquoise_background_color {
    background-color: #99e2fe;
}

.gold_background_color {
    background-color: #fca300;
}

.dark_pink_background_color {
    background-color: #ff90cc;
}